.BGcoti {background: #eec400; padding: 0; z-index: 2;position: relative; }


/******************************* FORMULARIO DE COTIZACION **************************************/
.stepwizard-row { display: table-row; }
.stepwizard { display: table; width: 100%; position: relative; margin-bottom: 10px; }
.stepwizard-step p { margin-top: 0px; font-size: 12px; color: #fff; }
.stepwizard-step button[disabled] { opacity: 1 !important; filter: alpha(opacity=100) !important; }
.stepwizard-row:before { top: 14px; bottom: 0; position: absolute; content: " "; width: 100%; height: 1px; background-color: #ccc; z-order: 0; }
.stepwizard-step { display: table-cell; text-align: center; position: relative; }
.step { width: 24px; height: 24px; padding: 0; border-radius: 50%; background: white; display: inline-block; color: #ccc; font-weight: 700; border: 2px solid #ccc; line-height: 20px }
.step.active { opacity: 1; background-color: #eedc00; color: #fff;   border: 2px solid #eedc00; }
.step.finish { background-color: #eedc00; border: 2px solid #fff; color: #fff; } 
#regForm { margin: 0 auto; border-radius: 4px; padding: 15px; display: inline-block; }
#regForm p { font-weight: 400}
#regForm h3{ color: #444; padding: 0 0 10px 0; margin: 0 0 20px 0; text-align: center; font-weight: 600; font-size: 20px; border-bottom: 1px dashed #ddd; }
#regForm label{   font-weight: 400; font-size: 16px; line-height: 16px}
#regForm h6{   font-weight: 400; text-align: center; font-size: 16px}
 
.btn-bin, .btn-bin:visited {
font-family: tahoma;
background: #d60000;
padding: 10px 12px;
border-radius: 5px;
font-size: 21px;
font-weight: bold;
line-height: 1;
color: #fff;
margin-top: 30px;
display: inline-block;
cursor: pointer;
}

.checkbox input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin: 0 10px 0 0;
}
.terminos input[type="checkbox"] {
-ms-transform: scale(1.2); /* IE 9 */
-webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
transform: scale(1.2);
float: left;
width: auto;
margin-right: 15px;
margin-bottom: 20px;
}
.terminos { margin-top: 10px; }
.terminos label { text-align: left; width: 95%; margin: 0 auto; line-height: 18px !important; }

#regForm .checkbox {
  margin-bottom: 10px;
}
.btn-bin:hover, .btn-bin:focus { background: #b50202; text-decoration: none; display: block; }
.entrega img { margin: 0; display: inline; }

.precioL p { font-weight: bold; color: #ff6123; text-align: center; margin: 10px auto; font-size: 25px; }

.regBtn {margin: 10px 0; text-align: center; padding: 0}
.sendPaq input[type=radio] { display:none; }
.sendPaq input[type=radio] + label { background-size: contain !important; background: url(../images/paq_off.png) no-repeat center; height: 137px; width: 100%; display:inline-block; padding: 0 0 0 0px; }
.sendPaq input[type=radio]:checked + label { background-size: contain !important background: url(../images/paq.png) no-repeat center; height: 137px; width: 100%; display:inline-block; padding: 0 0 0 0px; }
.sendDoc input[type=radio] { display:none; }
.sendDoc input[type=radio] + label { background-size: contain !important; background: url(../images/doc_off.png) no-repeat center; height: 137px; width: 100%; display:inline-block; padding: 0 0 0 0px; }
.sendDoc input[type=radio]:checked + label { background-size: contain !important background: url(../images/doc.png) no-repeat center; height: 137px; width: 100%; display:inline-block; padding: 0 0 0 0px; }
.seguroIn  { float: left; display: block; width: auto}
input { padding: 10px; width: 100%; font-size: 17px; border: 1px solid #aaaaaa; }
input.invalid { background-color: #ffdddd; border: 1px solid #ff0000; }
.tab { display: none; }

 
.btn-azulC, .btn-azulC:visited { background: #00bcd4; color: #fff; font-weight: bold; }
.btn-azulC:focus, .btn-azulC:hover { background: #009cb4; color: #fff; }

.form-group small { font-size: 10px; }
#package_container, #package_length_container, #package_width_container,#package_height_container, #package_weight_container, .removeButton { padding: 3px; }
	@media (min-width: 576px) { 
	.btn.btn-danger.bin {
	margin-top: 30px;
}
 }
.saludos p { font-size: 22px; line-height: 28px; }
.saludos img { margin: 20px; display: inline-block; }
#regForm .checkbox label { font-size: 20px; line-height: 20px; }
